.orange-form field-cpt {
	display: block;
}

.orange-form field-cpt.hide-label label {
	display: none;
}

.orange-form field-cpt[required] label:after {
	content: ' *';
}

.orange-form ff-notices-cpt ul {
	list-style: none;
	padding: 0;
}

.orange-form ff-notices-cpt li {
	font-size: 14px;
	margin-top: 5px;
}

.orange-form ff-notices-cpt .danger {
	color: #dc3545;
}

.orange-form ff-notices-cpt .success {
	color: #5fad56;
}
